# Server Configuration
PORT=3000

# PostgreSQL Database Connection
DATABASE_URL=postgres://postgres:postgres@localhost:5432/portfolio

# Google Oauth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:3000/auth/google/callback

# JWT
JWT_SECRET=

# Developer/Admin Gmail
ADMIN_GMAIL=